<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Computer Components page</h1>
    <form method="POST" action="/components/<%=id%>?_method=PUT">
        Part: <input type = "text" name = "name" value = "<%= components.part %>"/><br/>
        Description: <input type = "text" name = "name" value = "<%= components.description %>"/><br/>
        <input type="submit" name="" value="Submit Changes"/>

    </form>


</body>
</html>